@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
    --breakpoint-xs: 30rem;

    --container-3\.5xl: 52rem;

    --text-2xs: 0.625rem;
    --text-2xs--line-height: calc(0.75 / 0.625);
    --text-4\.5xl: 2.625rem;
    --text-4\.5xl--line-height: 1;

    --text-shadow-hard-xs: 0 1px 0 rgb(0, 0, 0 / 0.25);
    --text-shadow-hard-sm: 0 2px 0 rgb(0, 0, 0 / 0.25);
    --text-shadow-hard-md: 0 4px 0 rgb(0, 0, 0 / 0.25);
    --text-shadow-hard-lg: 0 6px 0 rgb(0, 0, 0 / 0.25);

    --color-xellanix-50: var(--xellanix-50);
    --color-xellanix-100: var(--xellanix-100);
    --color-xellanix-200: var(--xellanix-200);
    --color-xellanix-300: var(--xellanix-300);
    --color-xellanix-400: var(--xellanix-400);
    --color-xellanix-500: var(--xellanix-500);
    --color-xellanix-600: var(--xellanix-600);
    --color-xellanix-700: var(--xellanix-700);
    --color-xellanix-800: var(--xellanix-800);
    --color-xellanix-900: var(--xellanix-900);
    --color-xellanix-950: var(--xellanix-950);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-brand: var(--brand);
    --color-brand-foreground: var(--brand-foreground);
    --color-brand-hover: var(--brand-hover);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-heading: var(--font-sans);
    --font-sans: "Figtree Variable", sans-serif;
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --xellanix-50: color-mix(in oklch, #f1f7fe 100%, transparent);
    --xellanix-100: color-mix(in oklch, #e2effc 100%, transparent);
    --xellanix-200: color-mix(in oklch, #bfdef8 100%, transparent);
    --xellanix-300: color-mix(in oklch, #86c3f3 100%, transparent);
    --xellanix-400: color-mix(in oklch, #46a4ea 100%, transparent);
    --xellanix-500: color-mix(in oklch, #1d88da 100%, transparent);
    --xellanix-600: color-mix(in oklch, #0f65af 100%, transparent);
    --xellanix-700: color-mix(in oklch, #0e5596 100%, transparent);
    --xellanix-800: color-mix(in oklch, #10497c 100%, transparent);
    --xellanix-900: color-mix(in oklch, #133e67 100%, transparent);
    --xellanix-950: color-mix(in oklch, #0d2744 100%, transparent);

    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --success: color-mix(in oklch, #ebf9eb 100%, transparent);
    --success-foreground: color-mix(in oklch, #2d912d 100%, transparent);
    --success-border: color-mix(in oklch, #ceefce 100%, transparent);
    --error: var(--color-red-50);
    --error-foreground: var(--color-red-500);
    --error-border: var(--color-red-100);
    --warning: var(--color-yellow-50);
    --warning-foreground: var(--color-yellow-500);
    --warning-border: var(--color-yellow-100);
    --info: color-mix(in oklch, #f1f7fe 100%, transparent);
    --info-foreground: color-mix(in oklch, #0f65af 100%, transparent);
    --info-border: color-mix(in oklch, #e2effc 100%, transparent);

    --radius: 0.45rem;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.148 0.004 228.8);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.148 0.004 228.8);
    --primary: var(--xellanix-700);
    --primary-foreground: oklch(0.977 0.013 236.62);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.963 0.002 197.1);
    --muted-foreground: oklch(0.56 0.021 213.5);
    --accent: oklch(0.963 0.002 197.1);
    --accent-foreground: oklch(0.218 0.008 223.9);
    --brand: var(--xellanix-600);
    --brand-foreground: var(--xellanix-50);
    --brand-hover: var(--xellanix-700);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.925 0.005 214.3);
    --input: oklch(0.925 0.005 214.3);
    --ring: oklch(0.723 0.014 214.4);
    --chart-1: var(--xellanix-300);
    --chart-2: var(--xellanix-500);
    --chart-3: var(--xellanix-600);
    --chart-4: var(--xellanix-700);
    --chart-5: var(--xellanix-800);
    --sidebar-foreground: oklch(0.148 0.004 228.8);
    --sidebar-primary: var(--xellanix-600);
    --sidebar-primary-foreground: var(--xellanix-50);
    --sidebar-accent-foreground: oklch(0.218 0.008 223.9);
    --sidebar-border: oklch(0.925 0.005 214.3);
    --sidebar-ring: oklch(0.723 0.014 214.4);
    --background: oklch(1 0 0);
    --foreground: oklch(0.148 0.004 228.8);
    --sidebar: oklch(0.987 0.002 197.1);
    --sidebar-accent: oklch(0.963 0.002 197.1);
}

.dark {
    --success: color-mix(in oklch, #1e452b 100%, transparent);
    --success-foreground: color-mix(in oklch, #ceefce 100%, transparent);
    --success-border: color-mix(in oklch, #1e611e 100%, transparent);
    --error: color-mix(in oklch, #502029 100%, transparent);
    --error-foreground: var(--color-red-100);
    --error-border: var(--color-red-900);
    --warning: color-mix(in oklch, #51351d 100%, transparent);
    --warning-foreground: var(--color-yellow-100);
    --warning-border: var(--color-yellow-800);
    --info: color-mix(in oklch, #133e67 100%, transparent);
    --info-foreground: color-mix(in oklch, #e2effc 100%, transparent);
    --info-border: color-mix(in oklch, #10497c 100%, transparent);

    --background: oklch(0.148 0.004 228.8);
    --foreground: oklch(0.987 0.002 197.1);
    --card: oklch(0.218 0.008 223.9);
    --card-foreground: oklch(0.987 0.002 197.1);
    --popover: oklch(0.218 0.008 223.9);
    --popover-foreground: oklch(0.987 0.002 197.1);
    --primary: var(--xellanix-800);
    --primary-foreground: oklch(0.977 0.013 236.62);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.275 0.011 216.9);
    --muted-foreground: oklch(0.723 0.014 214.4);
    --accent: oklch(0.275 0.011 216.9);
    --accent-foreground: oklch(0.987 0.002 197.1);
    --brand: var(--xellanix-300);
    --brand-foreground: var(--xellanix-900);
    --brand-hover: var(--xellanix-200);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.56 0.021 213.5);
    --chart-1: var(--xellanix-300);
    --chart-2: var(--xellanix-500);
    --chart-3: var(--xellanix-600);
    --chart-4: var(--xellanix-700);
    --chart-5: var(--xellanix-800);
    --sidebar-foreground: oklch(0.987 0.002 197.1);
    --sidebar-primary: var(--xellanix-500);
    --sidebar-primary-foreground: var(--xellanix-950);
    --sidebar-accent-foreground: oklch(0.987 0.002 197.1);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.56 0.021 213.5);
    --sidebar: oklch(0.218 0.008 223.9);
    --sidebar-accent: oklch(0.275 0.011 216.9);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
    html {
        @apply font-sans;
    }
}

@utility no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}
